.usManager{
    position: relative;
    .popup_add_user,.popup_add_user2{
        position: absolute;
        top: 45px;
        left: 0;
        height: 95%;
        width: 100%;
        display: none;
        background-color: white;
    }
    
}

// reponsive render user
@media screen and (max-width: 992px){
    .ant-table-container{
        .ant-table-content{
            .ant-table-cell{
                padding: 3px 3px;
                font-size: 13px;

            }
        }
    }
}


@media screen and (max-width: 768px){
    .ant-table-container{
        .ant-table-content{
            .ant-table-cell{
                padding: 3px 3px;
                font-size: 10px;

            }
        }
    }
}

@media screen and (max-width: 576px){
    .ant-table-container{
        .ant-table-content{
            .ant-table-cell{
                padding: 3px 3px;
                font-size: 10px;

            }
        }
    }
}

@media screen and (max-width: 575px){
    .ant-table-container{
        .ant-table-content{
            .ant-table-cell{
                padding: 3px 3px;
                font-size: 8px;

            }
        }
    }
}


