.usManager{
    position: relative;
    .popup_add_user{
        position: absolute;
        top: 45px;
        left: 0;
        height: 92%;
        width: 100%;
        display: none;
        background-color: white;
    }
    
}






