@import "./../../sass/mixin/responsive";
.crsWrap {
  position: relative;
  overflow: hidden;

  .slick-slider {
    position: relative;
    width: 100%;
    @include breakpoint(xl) {
      width: 100%;
      height: 100%;
    }
    .slick-list {
      width: 100%;
      height: 100%;
      .slick-track {
        @include breakpoint(xl) {
          width: 100%;
          height: 100%;
        }
        .slick-slide {
          display: flex;
          align-items: center;
          justify-content: center;
          @include breakpoint(xl) {
            width: 100%;
            height: 100%;
          }
          div {
            .bgbanner {
              width: 100%;
              height: 100%;
              border-radius: 5px;
              overflow: hidden;
              position: relative;
              @include breakpoint(xl) {
                // width: 100%;
                height: 900px;
              }
              @include breakpoint(lg) {
                height: 600px;
              }
              @include breakpoint(md) {
                height: 500px;
              }
              @include breakpoint(sm) {
                height: 300px;
              }
              @include breakpoint(xs) {
                height: 200px;
              }
              img {
                object-fit: cover;
                animation: animationScale 30s infinite;
                object-position: center;
              }
              .overlay {
                position: absolute;
                top: 0;
                right: 0;
                width: 350px;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.527);
              }
            }
          }
        }
      }
    }
    // dot carousel
    .slick-dots {
      li {
        width: 50px;
        button {
          height: 5px;
          border-radius: 2px;
          margin-inline: 6px;
        }
      }
      .slick-active {
        width: 60px;
      }
    }
  }
  .buttonControlSlide {
    z-index: 1000;
    button {
      padding: 5px 13px;
      background-color: orange;
      border-radius: 50%;

      i {
        color: white;
      }
    }
  }
}

@keyframes animationScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}
