.footerPt {
  background: linear-gradient(
    180deg,
    rgba(254, 195, 75, 1) 50%,
    rgba(227, 133, 1, 1) 100%
  );
  .contact {
    .linkFooter {
      padding: 10px;
      transition: all 0.5s;
      border-radius: 10px;
      i {
        color: white;
        margin-top: 10px;
        margin-right: 5px;
      }
      &:hover {
        background-color: #1dcec4;
      }
    }
    .socialLink {
      .socialIcon {
        i {
          color: white;
          border-radius: 10px;
          margin-right: 10px;
          padding: 10px;
          background-color: #1dcec4;
          transition: all 0.5s;
          &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          }
        }
      }
    }
  }
}
